<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title><%= title %></title>
  </head>
  <body>
    <main>
      <h1>Send a new message!</h1>
      <%- include('partials/errors.ejs') %>
      <form method="post" action="/new">
        <div class="form-group">
          <label for="username">User:</label>
          <input 
            type="text"
            name="username"
            id="username"
            value="<%= locals.oldData ? oldData.username : '' %>"
            required
          >
        </div>
        
        <div class="form-group">
          <label for="text">Message:</label>
          <textarea
            name="text"
            id="text"
            maxlength="400"
            rows="5"
            style="resize: none;"
            required
          ><%= locals.oldData ? oldData.text : '' %></textarea>
        </div>
        
        <button type="submit">Send</button>
      </form>
      <a href="/">Back to Home</a>
    </main>
  </body>
</html>